<!-- Contact Section -->
<section class="bg-light" id="contact">
    <div class="container">
        <div class="section-header text-center">
        <span class="subtext">Contact</span>
        <h1 class="title">Get In Touch</h1>
        </div>
        <div class="row text-center mg-b-lg">
        <div class="col-sm-4 mg-b-40">
            <i class="material-icons font-3x text-primary">location_on</i>
            <h6 class="text-uppercase">Home</h6>
            <p>34 Nguyen Dinh Tu, Da Nang</p>
        </div>
        <div class="col-sm-4 mg-b-40">
            <i class="material-icons font-3x text-primary">email</i>
            <h6 class="text-uppercase">Email</h6>
            <p>saccerwin101@gmail.com</p>
        </div>
        <div class="col-sm-4 mg-b-40">
            <i class="material-icons font-3x text-primary">phone</i>
            <h6 class="text-uppercase">Phone</h6>
            <p>+(84) 77.79.49.184</p>
        </div>
        </div>
        <div class="row">
        <div class="col-xs-12">
            <div class="well well-lg col-md-10 col-md-offset-1 contact-section-form">
            <form accept-charset="UTF-8" method="POST" clearfix action="https://formkeep.com/f/f1b6deea11c5">
                <div class="col-sm-12">
                    Have a question or want to work together?
                </div>
                <div class="col-sm-12">
                <div class="form-group label-floating">
                    <label class="control-label" for="inputName">Name</label>
                    <input class="form-control" id="inputName" type="text">
                </div>
                </div>
                <div class="col-sm-12">
                <div class="form-group label-floating">
                    <label class="control-label" for="inputEmail">Email</label>
                    <input class="form-control" id="inputEmail" type="email">
                </div>
                </div>
                <div class="col-sm-12">
                <div class="form-group label-floating">
                    <label class="control-label" for="inputMessage">Message</label>
                    <textarea class="form-control" rows="5" id="inputMessage"></textarea>
                </div>
                </div>
                <div class="col-sm-12">
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-raised btn-lg btn-primary">
                    Send Message<i class="material-icons right hidden-xxs">send</i>
                    </button>
                </div>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
</section>