<!-- Works Section -->
<section class="bg-white" id="works">
        <div class="container">
          <div class="section-header text-center">
            <span class="subtext">Works</span>
            <h1 class="title">Recent Projects</h1>
          </div>
          <div class="row">
            <div class="button-group filter-button-group text-center mg-b-lg">
              <button class="btn btn-sm btn-raised btn-primary" data-filter="*">All</button>
              <button class="btn btn-sm" data-filter=".web-design">Web Design</button>
              <button class="btn btn-sm" data-filter=".logo-design">Mobile App</button>
              <button class="btn btn-sm" data-filter=".photography">Photography</button>
              <button class="btn btn-sm" data-filter=".branding">Pet project</button>
            </div>
            <div class="portfolio-grid" id="gallery">
              <div class="portfolio-item portfolio-item--height2 logo-design">
                <div class="mask">
                  <img src="img/project_01.jpg" alt="">
                  <a class="btn btn-default btn-fab" data-toggle="lightbox" data-title="Project 1"
                  href="img/project_01.jpg">
                    <i class="material-icons">add</i>
                  </a>
                </div>
              </div>
              <div class="portfolio-item web-design">
                <div class="mask">
                  <img src="img/project_02.jpg" alt="">
                  <a class="btn btn-default btn-fab" data-toggle="lightbox" data-title="Project 2"
                  href="img/project_02.jpg">
                    <i class="material-icons">add</i>
                  </a>
                </div>
              </div>
              <div class="portfolio-item portfolio-item--height2 branding">
                <div class="mask">
                  <img src="img/project_03.jpg" alt="">
                  <a class="btn btn-default btn-fab" data-toggle="lightbox" data-title="Project 3"
                  href="img/project_03.jpg">
                    <i class="material-icons">add</i>
                  </a>
                </div>
              </div>
              <div class="portfolio-item web-design illustration">
                <div class="mask">
                  <img src="img/project_04.jpg" alt="">
                  <a class="btn btn-default btn-fab" data-toggle="lightbox" data-title="Project 4"
                  href="img/project_04.jpg">
                    <i class="material-icons">add</i>
                  </a>
                </div>
              </div>
              <div class="portfolio-item portfolio-item--height2 photography illustration">
                <div class="mask">
                  <img src="img/project_05.jpg" alt="">
                  <a class="btn btn-default btn-fab" data-toggle="lightbox" data-title="Project 5"
                  href="img/project_05.jpg">
                    <i class="material-icons">add</i>
                  </a>
                </div>
              </div>
              <div class="portfolio-item branding logo-design">
                <div class="mask">
                  <img src="img/project_06.jpg" alt="">
                  <a class="btn btn-default btn-fab" data-toggle="lightbox" data-title="Project 6"
                  href="img/project_06.jpg">
                    <i class="material-icons">add</i>
                  </a>
                </div>
              </div>
              <div class="portfolio-item portfolio-item--height2 illustration">
                <div class="mask">
                  <img src="img/project_07.jpg" alt="">
                  <a class="btn btn-default btn-fab" data-toggle="lightbox" data-title="Project 7"
                  href="img/project_07.jpg">
                    <i class="material-icons">add</i>
                  </a>
                </div>
              </div>
              <div class="portfolio-item photography">
                <div class="mask">
                  <img src="img/project_08.jpg" alt="">
                  <a class="btn btn-default btn-fab" data-toggle="lightbox" data-title="Project 8"
                  href="img/project_08.jpg">
                    <i class="material-icons">add</i>
                  </a>
                </div>
              </div>
              <div class="portfolio-item portfolio-item--height2 web-design">
                <div class="mask">
                  <img src="img/project_09.jpg" alt="">
                  <a class="btn btn-default btn-fab" data-toggle="lightbox" data-title="Project 9"
                  href="img/project_09.jpg">
                    <i class="material-icons">add</i>
                  </a>
                </div>
              </div>
              <div class="portfolio-item logo-design">
                <div class="mask">
                  <img src="img/project_10.jpg" alt="">
                  <a class="btn btn-default btn-fab" data-toggle="lightbox" data-title="Project 10"
                  href="img/project_10.jpg">
                    <i class="material-icons">add</i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div></section>

