 <!-- Quotes Section -->
 <section class="bg-parallax" id="quotes">
        <div class="container">
          <div class="row text-center mg-b-md">
            <div class="tab-content col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="tab-pane fade" id="quote-1">
                <p class="quote-text">“Learn from yesterday, live for today, hope for tomorrow. The important is to not stop questioning”</p>
              </div>
              <div class="tab-pane fade active in" id="quote-2">
                <p class="quote-text">
                    “You’ll never be brave if you don’t get hurt <br>
                    You’ll never learn if you don’t make mistakes
                    <br>
                    You’ll never be successful if you don’t encounter failure“
                </p>
              </div>
              <div class="tab-pane fade" id="quote-3">
                <p class="quote-text">“Life is not about waiting for the storm to pass, it’s about learning to dance in
          the rain“
                </p>
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs quote-tabs text-center no-mg-b">
            <li>
              <a href="#quote-1" data-toggle="tab">
                <img class="tab-image" src="img/user_avatar_05.png" alt="">
              </a>
            </li>
            <li class="active">
              <a href="#quote-2" data-toggle="tab">
                <img class="tab-image" src="img/user_avatar_05.png" alt="">
              </a>
            </li>
            <li>
              <a href="#quote-3" data-toggle="tab">
                <img class="tab-image" src="img/user_avatar_05.png" alt="">
              </a>
            </li>
          </ul>
        </div>
</section>