<!-- Video Section -->
<section class="bg-video" id="video">
        <a class="player" data-background-video="https://www.youtube.com/watch?v=Cn2bMLNMiFk"
        data-fallback-image="img/video_fallback.jpg"></a>
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h2 class="title text-white">
                <span class="hidden-xs hidden-xxs">Watch Official</span>
                <i class="material-icons play-icon">play_circle_filled</i>
                <span class="hidden-xs hidden-xxs">People amazing</span>
              </h2>
            </div>
          </div>
        </div>
</section>