<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" .}}
  

<body class="page-home">
  <header class="header header-1" id="header">
    <nav class="navbar navbar-default navbar-fixed-top" id="navbar">
      <!-- navbar -->
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle nav-icon">
            <i class="material-icons">menu</i>
          </button>
          <a class="navbar-brand" href="index.html">
            <img class="logo-dark" src="img/logo_dark.png" alt="Saccerwin">
            <img class="logo-light" src="img/logo_light.png" alt="Saccerwin">
          </a>
        </div>
        <div class="navbar-sider">
          <ul class="nav navbar-nav navbar-menu">
            <li>
              <a href="#header">Home</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#works">Portfolio</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="sidenav-overlay"></div>
    </nav>
  </header>

  <main class="page-contsent">
    {{ partial "preloader.html" .}}
    {{ partial "header.html" .}}
    {{ partial "about.html" .}}
    {{ partial "skills.html" .}}
    {{ partial "portfolio.html" .}}
    {{ partial "quotes.html" .}}
    {{ partial "contact.html" .}}
    {{ partial "scroll-top.html" .}}

  
 </main>

<!-- SCRIPTS
  ============================================== -->
  <script src="js/core/jquery.min.js"></script>
  <script src="js/core/bootstrap.min.js"></script>
  <script src="js/core/material.min.js"></script>
  <script src="js/plugins/waypoints.min.js"></script>
  <script src="js/plugins/ekkolightbox.min.js"></script>
  <script src="js/plugins/wow.min.js"></script>
  <script src="js/plugins/owlcarousel.min.js"></script>
  <script src="js/plugins/masonry.min.js"></script>
  <script src="js/plugins/isotope.min.js"></script>
  <script src="js/plugins/ripples.min.js"></script>
  <script defer src="js/plugins/fontawesome-all.js"></script>
  <script src="js/saccerwin.js"></script>
  <script src="js/plugins/typed.js"></script>
  <script src="js/typedLoad.js"></script>


</body>
</html>